* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--background-color);
    transition: background-color 0.5s ease, color 0.5s ease;
    color: var(--text-color);
    opacity: 0;
    animation: fadeIn 3s forwards;
}

:root {
    --background-color: #121212;
    --text-color: #f7f7f7;
    --button-color: #4b555e;
    --button-hover-color: #34383d;
    --button-shadow: rgba(255, 255, 255, 0.3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    text-align: center;
    background: var(--background-color);
    padding: 30px 40px;
    box-shadow: 0 4px 15px 3px;
    border-radius: 10px;
    transition: background 0.5s ease, box-shadow 0.5s ease;
    max-width: 100%;
}

h1 {
    font-size: 20px;
    margin-bottom: 3px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.button {
    text-decoration: none;
    color: white;
    background: var(--button-color);
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 120px; 
    text-align: center;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px var(--button-shadow);
}

.button:hover {
    background: var(--button-hover-color);
    box-shadow: 0 6px 12px var(--button-shadow);
}

.discord-btn {
    text-decoration: none;
    color: white;
    background: #5865F2;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px var(--button-shadow);
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.discord-btn:hover {
    background: #404EED;
    box-shadow: 0 6px 12px var(--button-shadow);
}
